:root {
  --basic-font: "Nunito", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-color: #141010;
  --secondary-color: #f70776;
  --third-color: #ececec;
}

.hero,
.footer-section {
  background: var(--third-color);
  color: var(--primary-color);
  padding: 50px;
  margin: 30px;
  font-family: var(--basic-font);
}

h1 {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-weight: 700;
}

.btn {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  transition: all 100ms ease-in-out;
}

.contact-button {
  background-color: var(--secondary-color);
  color: var(--third-color);
}

.btn:hover {
  background-color: var(--primary-color);
  color: var(--third-color);
}

.main-section {
  margin: 30px;
}

.main-section,
h1 {
  font-size: 55px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

nav {
  padding: 30px;
  margin: 0px;
}
nav li {
  display: inline;
  list-style: none;
  padding-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--primary-color);
}

nav a:hover,
nav li .active {
  color: var(--secondary-color);
}

.contact-info {
  color: var(--secondary-color);
}

.footer-section .info-contact,
i {
  margin: 20px;
  color: var(--secondary-color);
  background: var(--third-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

.footer-section .info-contact,
i:hover {
  background-color: var(--primary-color);
  color: var(--third-color);
}

.coding-source {
  margin: 50px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
  nav li {
    font-size: 14px;
    position: relative;
  }

  .img-fluid {
    width: 200px;
  }

  .main-section,
  h1 {
    font-size: 40px;
  }
}
