:root {
  --basic-font: "Nunito", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-color: #142d4c;
  --secondary-color: #9fd3c7;
}

.hero {
  background: #ececec;
  color: var(--primary-color);
  padding: 60px;
  font-family: var(--basic-font);
}

h1 {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-weight: 700;
}

.btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px 20px;
}

.btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
