:root {
  --basic-font: "Nunito", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-color: #141010;
  --secondary-color: #f70776;
}

.hero {
  background: #ececec;
  color: var(--primary-color);
  padding: 90px;
  margin: 40px;
  font-family: var(--basic-font);
}

h1 {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-weight: 700;
}

.btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px 20px;
}

.btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.about-section,
h1 {
  font-size: 80px;
}
